@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
	--primary-yellow: hsl(47, 88%, 63%);
	--neutral-white: hsl(0, 0%, 100%);
	--neutral-grey: hsl(0, 0%, 50%);
	--neutral-black: hsl(0, 0%, 7%);

	--hover-transition-ms: 200ms;
}
* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Figtree", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    min-height: 600px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-yellow);
    font-family: 'Figtree', sans-serif;
}

.card {
	width: 100%;
    max-width: 385px;
    height: 520px;
    padding: 1.5rem;
    border-radius: 1.15rem;
	background-color: var(--neutral-white);
    border: 1px solid var(--neutral-black);
    box-shadow: 5px 5px var(--neutral-black);
}

.card:hover {
	box-shadow: 15px 15px var(--neutral-black);
	transition: var(--hover-transition-ms);
}

.card:hover .blog-title {
	color: var(--primary-yellow);
	transition: var(--hover-transition-ms);
}



.blog-art {
	width: 100%;
    display: flex;
    justify-content: center;
}

.blog-art img{
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
}

.blog-type{
    margin-top: 1.5rem;
    padding: .3rem .8rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 800;
    background-color: var(--primary-yellow);
    border-radius: .3rem;
}

.date-published{
	margin-top: 1rem;
}

.blog-title{
	margin-top: 1rem;
	font-weight: 800;
	cursor: pointer;
}

.blog-description {
	margin-top: 1rem;
	color: var(--neutral-grey);
}

.card-footer {
	margin-top: 1.5rem;
    display: flex;
    align-items: center;
}

.author-pfp{
	width: 33px;
	height: 33px;
}

.author-name{
	margin-left: .75rem;
    font-size: 1rem;
}

p {
	font-size: 16px;
}

.attribution {
	position: fixed;
	margin: auto;
	width: 100%;
	bottom: 10px;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
